@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-primary: #101114;
	--color-secondary: #4f4f4f;
	--color-tertiary: #2c303a;
	--color-success: #27ae60;
	--color-failed: #852221;

	--color-friday-blue: #2f80ed;
	--color-friday-red: #EB5757;
	--color-friday-orange: #F2994A;

	--color-danger: #ff2d55;

	--color-brand-light: #e0e7ff;
	--color-brand-dark: #3730a3;
}

body {
	background-color: #101114;

}